@import '@module';

.hero-wrapper {
    //background: black;
    width: 100vw;
}
//
.hero-container {
    height: 100%;
    width: 100%;
    //height: 300px;
    //width: 400px;
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
   padding-top: $dsu * 2;

}


.hero-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: $dsu;
    background-position: bottom;
    padding-top: $dsu;
    svg {
        width: 220px;
        fill: $colour-white;
    }

    hr {
        border: none;
        border-bottom: 2px solid $colour-primary;
        margin-bottom: $tsu;
        width: 100%;
        margin-top: $bsu;
    }
    .text-light {
        font-weight: 300;
    }
    .heading-top {

        background-position: 0 0;
        background-size: cover;
        background-repeat: no-repeat;
        //background-color:rgba(0, 0, 0, 0.5)
        margin-bottom: $bsu * 1.1;
        p {
            max-width: 625px;
            font-size: 1.25rem;
            margin-bottom: 0;
        }
    }
    .heading-bottom {
        div {
            display: flex;
        }
    }
    .countdown-container {
        display: flex;
        padding-right: $bsu;
        margin-top: $bsu;

        > p {
            font-size: 20px;
            color: $colour-white;
            font-style: italic;
            margin: 0;
            &:last-child {
                margin-left: $hsu;
            }
        }
    }
}

@include sm-down {
    .hero-heading {
        .heading-top {
            padding: 0 $bsu;
        }
        .heading-bottom {
            padding: 0 $bsu;
        }
    }
}

@include xs {
    .hero-heading {
        svg {
            width: 150px;
        }
        .heading-top {
            margin-top: $dsu * 1;
            padding: $hsu;
        }
        .heading-bottom {
            padding: $hsu;
        }
        .countdown-container {
            flex-direction: column;
            padding: $hsu;
            > p {
                &:last-child {
                    margin-left: 0;
                }
            }
        }
    }
}
