@import '@module';

.subscribe-cta-wrapper {

}

.subscribe-cta-form {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    .input-box {
        display: flex;
        flex-direction: column;
        width: calc(100% - (130px + 1.875rem));
        label {
            color: $colour-white;
            text-align: left;
            font-weight: 300;
        }
        input {
            width: 100%;
            height: 45px;
            font-size: 18px;
            background: none;
            border: 2px solid $colour-primary;
            color: $colour-white;
            outline: none;
            margin-top: 0.2rem;
            padding: $hsu $bsu;
            padding-bottom: $hsu * 1.2;
            &::placeholder {
                color: $colour-light-gray;
            }
        }
    }
    button {
        margin-left: $bsu;
        width: 130px;
    }
}
