$colour-primary: #ff8900;
$colour-primary-shade: darken($colour-primary, 10%);
$colour-primary-highlight: lighten($colour-primary, 10%);
$colour-primary-saturated: saturate($colour-primary, 10%);
$colour-primary-faded: #eee9f4;
$colour-primary-disabled: #9f5806;

$colour-secondary: #171717;
$colour-secondary-shade: darken($colour-secondary, 5%);
$colour-secondary-highlight: lighten($colour-secondary, 10%);

$colour-background-main: #1C1C1C;
$colour-background-secondary: #2b2b2b;

$colour-black: #252525;
$colour-white: #ffffff;
$colour-white-gray: #fcfcfc;
$colour-lighter-gray: #e8e8e8;
$colour-light-gray: #c7c7c7;
$colour-gray: #9b9b9b;
$colour-dark-gray: #797979;

$background-body: #1c1c1c;

$colour-base: #2b2b2b;
$colour-base-shade: darken($colour-base, 2.5%);
$colour-base-depth: darken($colour-base, 4%);
$colour-base-dark: darken($colour-base, 10%);
$colour-base-disabled: lighten($colour-base, 5%);

$colour-border-base: #ff8900;
$colour-button-main: #1c1c1c;
$colour-background-black: #1f1f1f;
$colour-button-hover: #ff9d2b;
$colour-button-background: #3e3c3c;
$colour-shade-background: #2b2b2b;

$colour-text: $colour-white;
$colour-text-shade: $colour-white-gray;
$colour-text-depth: $colour-lighter-gray;
$colour-text-faded: $colour-light-gray;
$colour-text-disabled: $colour-gray;
$colour-text-inversed: $colour-black;
$colour-text-inversed-shade: $colour-dark-gray;
$colour-text-inversed-depth: $colour-gray;
$colour-text-inversed-faded: $colour-light-gray;
$colour-text-inversed-disabled: $colour-dark-gray;

$colour-info: #287ee5;
$colour-info-shade: darken($colour-info, 2.5%);

$colour-warning: #f0933a;
$colour-warning-shade: darken($colour-warning, 7%);

$colour-success: #7fd373;
$colour-success-highlight: lighten(saturate($colour-success, 10%), 5%);
$colour-success-shade: darken($colour-success, 2.5%);
$colour-success-dark: #193711;

$colour-error: #d46b5f;
$colour-error-highlight: lighten(saturate($colour-error, 10%), 5%);
$colour-error-shade: darken($colour-error, 5%);
$colour-error-dark: #451212;

$focus-box-shadow: 0 0 0 0px rgba(61, 94, 103, 0.5), 0 0 0 2px rgba(61, 94, 103, 0.4),
0 0 0 4px rgba(61, 94, 103, 0.247);

$bbr: 3px;

$bsu: 1rem * 1.875;
$dsu: $bsu * 2;
$hsu: $bsu / 2;
$qsu: $bsu / 4;
$tsu: ($bsu / 4) * 3;

$column-spacing: 30px;

$logo-height: 43px;
$logo-width: 83px;

$transition: cubic-bezier(0.4, 0, 0.2, 1);
$transition-accelerate: cubic-bezier(0.4, 0, 1, 1);
$transition-decelerate: cubic-bezier(0, 0, 0.2, 1);

$column-gutter: 30px;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1210px;
$breakpoint-xxl: 1440px;

$container-width: $breakpoint-xl - $column-gutter;

$shadow-bottom: 0 1px 3px rgba(0, 0, 0, 0.2);
$shadow-middle: 0 3px 6px rgba(0, 0, 0, 0.2);
$shadow-top: 0 3px 8px rgba(0, 0, 0, 0.5);

$font-weight-heading: 400;
$font-weight-body: 400;

$font-size-base: 1rem;
$font-family-heading: 'Russo One', sans-serif;
$font-family-body: 'univia-pro', sans-serif;
