@import '@module';

.layout {
    background: $colour-background-main;
    min-height: 100vh;
    width: 100vw;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        color: $colour-white;
    }
}
