@import '@module';
@import url('https://use.typekit.net/eif5bic.css');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.livestream-wrapper {
    margin-top: 7.5rem;
    padding: $dsu $bsu;
    width: 100%;
    background: $colour-base-depth;
    .livestream-container {
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        width: 100%;

        h3 {
            margin-bottom: 0;
        }

        a {
            margin-left: $bsu;
        }
    }

    .livestream-video {
        position: relative;
        padding-bottom: 54%; /* 16:9 */
        margin-top: $bsu;
        height: 0;
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.cta-container {
    background: $colour-background-secondary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    //max-width: 550px;
    margin-top: 7.5rem;
    padding: $dsu $bsu;
    width: 100%;
    h3 {
        max-width: 470px;
        font-weight: 500;
        text-align: center;
        margin-bottom: $bsu;
    }
}

@include sm-down {
    .livestream-container {
        flex-direction: column;
        a {
            margin-left: $bsu;
            margin-top: $bsu;
        }
    }
}
