@import '@module';

.faq-container {
    background: $colour-background-secondary;
    margin-top: $dsu * 3;

    p {
        font-weight: 300;
    }
    h1 {
        margin: 0;
    }
    h2 {
        margin-top: $dsu * 1.5;
    }
    h3 {
        margin-top: $bsu;
    }

    .faq-body {
        padding-top: 3rem;
        padding-bottom: 3rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    @include xs {
        margin-top: $dsu;
    }
}
