@import '@module';

.header-wrapper {
    width: 100vw;
    z-index: 5;
}

.header-container {
    width: 100%;
    background: $colour-secondary;
    box-shadow: 0px 5px 10px #000000cc;
    display: flex;
    padding: $hsu;
}
.header-left {
    display: flex;
    align-items: center;
    .header-logo-container {
        a {
            &:hover {
                opacity: 0.8;
            }
        }
        svg {
            height: 45px;
            fill: $colour-white;
        }
    }

    .countdown-container {
        display: flex;
        > p {
            color: #a53327;
            font-style: italic;
            margin: 0;
            margin-left: $qsu;
            &:first-child {
                margin-left: $bsu;
            }
        }
    }
}
